html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
border-radius:var(--radius, 0.6rem);
}