@use "../utils" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border-radius: var(--radius, 0.6rem);
}

.max-container {
  margin: 0 auto;
  width: 93%; // fixe issue here
  max-width: 1440px !important;
}

// =============== tailwind reset

.menu {
  padding: 0 !important;
}

input[type="checkbox"]:checked::before {
  accent-color: var(--white-color) !important;
  background-color: var(--white-color);
}

.drawer {
  &.dashboard {
    @include u.breakpoint(large) {
      display: grid;
      grid-template-columns: minmax(15.625rem, max-content) auto !important; // 250px
    }

    @include u.breakpoint-down(large) {
      display: block;
    }

    .menu {
      @include u.breakpoint-down(large) {
        width: minmax(15.625rem, max-content); //250px
      }
    }
  }

  &-button {
    color: red;
    @include u.breakpoint-down(large) {
      position: absolute;
      top: 1.5625rem; //25px
      left: 1.25rem; //20px
    }
  }
}

// ====================

.error {
  display: grid;
  place-items: center;
  margin: 0 auto;
  font-size: 1.1rem;
  color: red;
  width: 100%;
  padding: 1rem 0rem;
}
