html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
border-radius:var(--radius, 0.6rem);

}

.max-container {
  margin: 0 auto;
  width: 93%; // fixe issue here
  max-width: 1440px !important;
}

// =============== tailwind reset

.menu {
  padding: 0 !important;
}

input[type="checkbox"]:checked::before {
accent-color: var(--white-color) !important;
background-color: var(--white-color);
}

// .drawer {
//   position: fixed;
//   top: 45px;
//   left: 20px;
//   transform: translate(15px 23px);
// }

// ====================
