:root {
  --white-color: rgba(255, 255, 255, 1);
  --btn-color: rgba(0, 10, 255, 1);
  --btn-hover-color: rgba(114, 128, 255, 1);
  --pagination-color: rgba(52, 64, 84, 1);
  --icon-gray-light: rgba(208, 213, 221, 1);
  --panel-header-bg: rgba(249, 250, 251, 1);
  --white-border: rgb(234, 236, 240);
  --card-shadow: rgba(17, 38, 146, 0.05);
  --border-color: rgb(209, 209, 209);
  --panel-bg: rgb(54, 55, 64);
  --second-text-color-light: rgba(159, 162, 180, 1);
  --panel-color: rgb(221, 226, 255);
  --second-text-color: rgba(138, 146, 166, 1);
  --icon-hover: rgba(78, 79, 88, 0.908);

  --radius: 0.6rem;
}
