@use "../styles/utils" as u;

.bg-main {
  background-color: var(--panel-bg);
}

.content-bg {
  background-color: rgb(244, 244, 244);
}

.admin {
  color: var(--white-color);
  text-align: center;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0125rem;
  margin-block: 2rem 1rem;
}

.admin,
.link--container {
  max-width: 100%;
}

.link--container {
  @include u.flex($align: flex-start, $justify: center, $direction: column);
  // row-gap: 0.5rem;
}

.sideBard-link {
  color: var(--second-text-color-light);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: space-between;
  width: 100%;
  padding: 0.6rem 0rem;
  &:hover {
    fill: var(--white-color);
    background-color: var(--icon-hover);
    border-left: 0.1875rem solid var(--white-color);
    transition: background-color 0.3s ease-out;
  }

  & > * {
    padding: 0;
  }

  & img {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    margin: 0;
  }

  & a,
  & svg {
    color: var(--second-text-color-light);

    &:hover {
      color: var(--panel-color);
      transition: color 0.3s ease-out;
    }
  }

  & a {
    font-size: 1rem;
    justify-self: flex-start;
    width: max-content;
  }
}

.sideBard-icon--left {
  justify-self: flex-end;
  padding: 0 0.8rem 0 0 !important;
}

// nav-bar

.navbar {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--icon-gray-light);
  height: 6rem;

  & > div,
  &--search {
    @include u.flex($justify: space-between, $align: center);

    // & input {
    //   transform: scale(0) translateX(100%);
    //   visibility: hidden;

    //   &:focus{
    //     border: 1px solid red;
    //     transform: scale(1) translateX(0);
    //     visibility: initial;
    //   }
    // }
  }
}

.intro {
  color: var(--black-color);
  //   font-family: Product Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 91.5%;
}

.form-control {
  max-height: 100%;
  position: relative;

  & input {
    width: 100%;
    border-radius: calc(2.6 * var(--radius)); //25px
    border: 0.125rem solid var(--border-color); //1px
    background: var(--white-color);
  }

  & img {
    position: absolute;
    top: 50%;
    // left: 88%;
    right: 7%;
    transform: translateY(-50%);
  }
}

.search--container {
  margin-inline-end: 3rem;
}

.profil {
  border-radius: 66%;
}

// card
.outcomes {
  padding: 3.125rem 0rem;
  display: grid;
  row-gap: 2rem;
  @include u.breakpoint(small) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @include u.breakpoint(medium) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 0;
  }
}

.sell-card {
  padding: 1rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius, 0.6rem);
  background: var(--white-color);

  /* card1 */
  box-shadow: 0px 0.625rem 1.875rem 0px var(--card-shadow); // 10px 30px
}

.card--text {
  margin-inline-start: 1rem;

  & h4 {
    color: var(--second-text-color);
    // font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    margin-block-end: 0.7rem;
  }

  & p {
    font-size: 1.1rem;
  }
}

// table

table.callHistory {
  border-radius: var(--radius) !important;

  & thead > tr > th:first-child {
    column-gap: 2rem;
    @include u.flex($align: center, $justify: flex-start);
  }
}

.callHistory thead {
  border: 1px solid var(--white-border);
  background: var(--panel-header-bg);

  & th.inline-flex {
    column-gap: 1.8rem;
  }

  & th > label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;

    & span {
      color: var(--second-text-color);
      // font-family: Circular Std;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 450;
      line-height: 175%;
    }
  }
}

.callHistory tbody tr {
  border: 1px solid var(--white-border);
  background: var(--white-color);
}

.row-action {
  display: flex;
  column-gap: 1rem;
  height: 100%;

  & div {
    height: 100%;

    & svg {
      width: 1.4rem;
      height: 1.4rem;
      color: var(--icon-hover);
      cursor: pointer;
    }
  }
}

.user {
  @include u.flex($align: center, $justify: flex-start);
  column-gap: 0.8rem;

  &--name {
    color: var(--main-color);
    // font-family: Circular Std;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 450;
    line-height: 125%;
  }

  &--email {
    color: #667085;
    // font-family: Circular Std;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 450;
    line-height: 175%;
  }
}

.callHistory tfoot {
  border: 1px solid var(--white-border);
  background: var(--white-color);

  button {
    padding: 0.6rem;

    &:hover,
    &:focus {
      background-color: var(--white-border);
      transition: background-color 0.3s ease-in;
    }

    &.next--btn {
      transform: translateX(0.5rem); // 8px
    }
  }

  .footer--btn {
    border: 1px solid var(--icon-gray-light);
    color: var(--pagination-color);
  }
}

// action part

.action {
  margin-block-end: 1.4rem;

  & > div {
    @include u.flex($justify: space-between, $align: center);
    @include u.breakpoint-down(medium) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem; //16px
    }
  }

  &--buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  & button {
    font-weight: 400;
    text-transform: capitalize;
    box-shadow: 0 0.0625rem 0.125rem 0 var(--border-color); //0 1px 2px 0

    &.filter {
      border: 0.0625rem solid var(--icon-gray-light);
      background: var(--white-color);

      &:hover {
        opacity: 75%;
        transition: opacity 0.3s ease-in;
      }
    }

    &.add-user {
      background: var(--btn-color);
      border: 0.0625rem solid var(--btn-hover-color);
      color: var(--white-color);

      &:hover {
        opacity: 70%;
        transition: opacity 0.3s ease-in;
      }
    }
  }
  // into mixin
  &--search {
    width: fit-content;
    position: relative;
    & {
      @include u.breakpoint-down(small) {
        width: 100%;
      }
    }

    & input {
      border-radius: var(--radius, 0.6rem) !important;
      border: 0.0625rem solid var(--border-color); //1px
      background: var(--white-color);
      padding-inline-start: 3rem;
    }

    & img,
    & svg {
      left: 6%;
    }
  }
}

// ======= Create user

.add-user {
  &__container {
    background-color: red;
  }

  &--form {
    width: 80%;
    @include u.flex($justify: center, $align: center, $direction: column);

    & button {
      margin-top: 1rem;
      border: none;
      color: var(--white-color);
      border-radius: var(--radius, 0.6rem) !important;
      background-color: var(--btn-color) !important;
      &:hover {
        background-color: var(--btn-hover-color);
        opacity: 75%;
        transition: all 0.3s ease-in;
      }
    }
  }

  &--fields {
    display: grid !important;
    gap: 1rem;
    width: 80% !important;
    max-width: 100%;

    & input,
    & select {
      width: 100%;
      border-radius: var(--radius) !important;
    }
  }

  & select label > span {
    color: var(--icon-gray-light);
    font-size: 0.8rem; // 12.8px
  }
}

#my_modal_1 {
  .modal {
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      max-height: 100% !important;
      position: relative;

      & h3 {
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }
    }

    &-action {
      position: absolute;
      top: -1%;
      right: 2%;
    }
  }
}

.modal.delete-user {
  height: 100%;
  display: grid;
  place-items: center;

  div.modal-box {
    height: fit-content ;
    display: grid ;
    place-items: center;
    gap: 1rem;

    & > div {
      height: fit-content !important;
    }

    & button {
      border: none;
      color: var(--white-color);
      border-radius: var(--radius, 0.6rem);
      background-color: var(--btn-color);
      padding: .5rem 1.3rem;
      &:hover {
        background-color: var(--btn-hover-color);
        opacity: 75%;
        transition: all 0.3s ease-in;
      }
    }
  }
}
